.body_backgorund {
	background-image: url("rainbow.jpg");
	background-position: center;
	background-size: cover;
}
h1{
	color: rgb(255, 0, 0);
	font-size: 40px;
	
}
#myCanvas{
  border-width: 10px;
  background-color: white;
  border-style: ridge;
}
span{
font-size: 20px;
}

body{
	text-align: center;
}
title{
	color:red
	
}